// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
%map-style {
    overflow: hidden;
    width: 100%;
    height: $map-height;
}
%copyright-font {
    @include setFont(14px, #666, 500);
}
%ft-thongke-css{
    @include grid(flex, $flex-wrap: wrap, $justify-content: flex-end, 
      $align-items: null, $gutter: null);
    @extend %reset-list;
    position: relative;
    li {
        @extend %copyright-font;
        @include grid(flex, $justify-content: space-between, $align-items: center);
        position: relative;
        margin: 5px 0;
        span{
            margin-left: 5px;
        }
        &+li{
            margin-left: 20px;

            @include p-el(before, $el-width: 1px, $el-height: 10px){
              background-color: #fff;
              left: -10px;
            }
        }
    }
}
#footer {
    $bg-pos-right: percentage(94/1366);
    @include bg("ft-bg.png",$background-repeat: no-repeat,$background-size: null,$background-position: bottom right $bg-pos-right);
    background-color: $footer-bg;
    position: relative;
    width: 100%;
    z-index: 5;
    
    .ft-top{
        padding-top: 50px;
        position: relative;
        @include p-el(after, $el-width: 45%, $el-height: 1px){
           @include background-opacity(#fff,0.4);
           left: 0;
           bottom: 0;
         }
    }
    .ft-flex {
        @include grid(flex, $flex-wrap: wrap, $justify-content: space-between, 
          $align-items: null, $gutter: null);
        .ft-brand {
            width: percentage(450/$max-width);
            padding: 35px 0;
            margin-right: 55px;
            &__logo{
                display: block;
                margin-bottom: 12px;
                text-align: center;
                background-color: #fff;
                &-img{
                    max-height: 80px;
                }
            }
            &__name{
                @include setFont(20px, #fff, 400, $font-text);
                text-transform: uppercase;
            }
        }
        .ft-info {
            @include grid(flex, $flex-wrap: wrap, $justify-content: space-between, 
              $align-items: null, $gutter: null);
           @include flex(1);
           border-left: 1px solid #ffffff66;
           padding: 35px;
           color: #fff;
           .content{
               p{
                margin-bottom: 7px;
               }
           }
           &-item{
            @include grid(flex, $flex-wrap: wrap, $justify-content: null, 
              $align-items: center, $gutter: null);
            width: 49%;
            i{
                font-size: 28px;
                width: 50px;
            }
            &__text{
                @include flex(1);
                p{
                    @include setFont(14px, #fff, 400, $font-text);
                    margin-bottom: 2px;
                    &:first-child(){
                        font-weight: 700;
                    }
                }
            }
           }
        }
        .ft-fanpage {
            // width: percentage(330/$max-width);
            // .fanpageplace {
            //     height: 210px;
            //     overflow: hidden;
            // }
        }

        
    }
    .ft-bot-flex {
        @include grid(flex, $flex-wrap: wrap, $justify-content: null, 
          $align-items: null, $gutter: null);
        padding: 35px 0;
    }
    .ft-company {
        // @include setFont(em(31), #fff, 700);
        // text-transform: uppercase;
        // margin-bottom: 10px;
        // // line-height: 1;
        // a {
        //     color: #000;
        // }
    }

    .ft-tit {
        @include setFont(16px, #fff, 700, $font-text);
        position: relative;
        text-transform: capitalize;
        margin-bottom: 15px;
        strong, span {
            display: block;
        }
        i{
            margin-right: 7px;
        }
    }
    .ft-baiviet {
        width: percentage(200/$max-width);
        ul {
            @extend %reset-list;
            li {
                @include setFont(14px, #fff, 400, $font-text);
                margin-bottom: 5px;
                a {
                    @include grid($display: flex, $align-items: center);
                    @include transition(all 0.2s ease);
                    position: relative;
                    color: inherit;
                    padding-left: 10px;
                    line-height: 1.5;
                    @include p-el(before, $el-width: 3px, $el-height: 3px){
                      // @include setFont(7px, #000, 700, $font-awesome);
                      left: 0;
                      // content: "\f009";
                      background-color: #fff;
                    }
                }
                &:hover{
                    color: #f00; 
                }
                @include doubly(){
                }
            }
        }
    }
}
.copyright {
    background-color: $copyright-bg;
    position: relative;
    z-index: 21;
    .ft-wrap {
        @include grid($display: flex, $justify-content: space-between
            , $align-items: center);
        min-height: 50px;
        position: relative;
        .text {
            @extend %copyright-font;
            margin: 5px 0;
        }

        ul.ft-thongke {
            @extend %ft-thongke-css;
        }
    }

}
.codebando, .codebando iframe{
    @extend %map-style;
}