// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.main-title{
  &__name{
    @include bg("idx-tit.jpg",$background-repeat: repeat,$background-size: null,$background-position: 0 0);
    @include setFont(18px, #000, 900, $font-text);
    text-transform: uppercase;
    margin-bottom: 14px;
    a,span{
      @include grid(inline-flex, $flex-wrap: wrap, $justify-content: null, 
        $align-items: center, $gutter: null);
      min-height: 46px;
      background-color: #e7090c;
      color: #fff;
      padding: 0 15px;
    }
  }
  @include media("<=mobile"){
  }
}
